.idea/
week2/Zeyu/.idea/
week2/Zeyu/**/__pycache__/

week2/Zeyu/data/**/*
!week2/Zeyu/data/**/
!week2/Zeyu/data/**/.gitkeep

week2/Zeyu/models/*
week2/Yongcheng/laplace_redux_exp/data/**/*
week2/Yongcheng/laplace_redux_exp/models/*
!week2/Zeyu/models/.gitkeep

# Ignore all files in models/
models/*
/src/models/*

# Ignore all files in data/ but keep folders and .gitkeep
/data/*
!/data/**/
!/data/**/.gitkeep
/src/data/*

# Python
__pycache__/
*.py[cod]
*$py.class